<mat-card>
  <mat-card-content>
    @for (item of list(); track item.storeId + item.productId) {
    <app-cart-list-item
      [storeId]="item.storeId"
      [productId]="item.productId"
      [imgUrl]="item.product.imgUrl"
      [name]="item.product.name"
      [price]="item.product.price"
      [quantity]="item.count"
      [from]="item.store.name"
    ></app-cart-list-item>
    } @empty {
    <h2>
      There are no items. <br />
      Go to <a routerLink="/store">Store</a> and pick your products.😊
    </h2>
    }
  </mat-card-content>
</mat-card>
