<mat-card class="mat-card">
  <mat-card-header>
    <mat-card-title>Shops</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-nav-list role="navigation">
      @for (item of list$ | async; track item.id) {
      <a
        mat-list-item
        routerLink="{{ item.id }}"
        routerLinkActive="mdc-list-item--activated"
      >
        <app-store-list-item
          [id]="item.id"
          [name]="item.name"
          [logoUrl]="item.logoUrl"
        ></app-store-list-item>
      </a>
      } @empty {
      <span> There are no items.</span>
      }
    </mat-nav-list>
  </mat-card-content>
</mat-card>
