<form>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      [formControl]="emailFormControl"
      [errorStateMatcher]="matcher"
      placeholder=""
    />
    @if (emailFormControl.hasError('email') &&
    !emailFormControl.hasError('required')) {
    <mat-error>Please enter a valid email address</mat-error>
    } @if (emailFormControl.hasError('required')) {
    <mat-error>Email is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      type="text"
      matInput
      [formControl]="nameFormControl"
      [errorStateMatcher]="matcher"
      placeholder=""
    />
    @if (nameFormControl.hasError('minlength') &&
    !nameFormControl.hasError('required')) {
    <mat-error>Minimum length is 5 symbols</mat-error>
    } @if (nameFormControl.hasError('maxlength') &&
    !nameFormControl.hasError('required')) {
    <mat-error>Maximum length is 20 symbols</mat-error>} @if
    (nameFormControl.hasError('required')) {
    <mat-error>Name is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input
      type="tel"
      matInput
      [formControl]="phoneFormControl"
      [errorStateMatcher]="matcher"
      placeholder=""
    />
    @if (phoneFormControl.hasError('pattern') &&
    !phoneFormControl.hasError('required')) {
    <mat-error>Please enter a valid phone number</mat-error>
    } @if (phoneFormControl.hasError('required')) {
    <mat-error>Phone is <strong>required</strong></mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Address</mat-label>
    <textarea
      type="text"
      matInput
      [formControl]="addressFormControl"
      [errorStateMatcher]="matcher"
      placeholder=""
    ></textarea>
    @if (addressFormControl.hasError('minlength') &&
    !addressFormControl.hasError('required')) {
    <mat-error>Minimum length is 10 symbols</mat-error>
    } @if (addressFormControl.hasError('maxlength') &&
    !addressFormControl.hasError('required')) {
    <mat-error>Maximum length is 100 symbols</mat-error>} @if
    (addressFormControl.hasError('required')) {
    <mat-error>Adress is <strong>required</strong></mat-error>
    }
  </mat-form-field>
</form>
